<h2 mat-dialog-title>Edit Room</h2>
<div mat-dialog-content>
  <p>Room Name:</p>
  <mat-form-field class="update-form" style="width: 100%">
    <input matInput tabindex="1" [(ngModel)]="data.room.name">
    </mat-form-field>

    <p>Add Unavailability</p>
   
    <mat-form-field>
      <input  matInput [matDatepicker]="picker1" placeholder="Choose a start date"
        readonly   [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input  matInput [matDatepicker]="picker2"  [min]="startDate" placeholder="Choose an end date"
        readonly   [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="(startDate === null)" ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    
    <button mat-button (click)="onAdd()" >Confirm Unavailability</button>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.room" tabindex="4">Update</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
