<div mat-dialog-content>
  <mat-expansion-panel [expanded]="true">
<mat-expansion-panel-header>
  <mat-panel-title>
      <h4 matline>Unavailabilities </h4>
  </mat-panel-title>
  <mat-panel-description>
      <span class = "fill-space"></span>
      <mat-icon  matchTooltip = "Add Unavalability" class = "material-icons" (click) = "openAddUnvailibilityDialog($event, data.room)">
          add_circle_outline
      </mat-icon>
     
  </mat-panel-description>
</mat-expansion-panel-header>
<mat-list *ngFor = "let unavailability of roomUnavailibilities(data.room.id)"><!-- Hernan : roomUnavailibilities(data.room.id)"> -->
  <mat-list-item>
      <h4 mat-line>
                         Start date:  {{unavailability.startDate | date}}
          End Date: {{unavailability.endDate | date}} <br>
          {{unavailability.description}} 
      </h4>
      <span class="fill-space"></span>

    <!--Added parameter data.room to both methods below - Hernan - -->
      <mat-icon  matTooltip="Remove Unavailability" class="material-icons" style="color: black; cursor: pointer"  (click) = "openDeleteUnavailibilityDialog($event, unavailability, data.room)">
              remove_circle_outline</mat-icon>
       <mat-icon matTooltip="Edit  Unavailability" class="material-icons" style="color: black; cursor: pointer" (click) = "openChangeUnavailibilityDialog($event, unavailability, data.room)"  >
                      edit</mat-icon>

  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
</mat-expansion-panel>
</div>
