<div class="container-sprints">
<mat-card-content>
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="toolbar-curricula-sub">
        <mat-panel-title>
          <span class="panel-title-fix">Current Sprints</span>
        </mat-panel-title>
        <span>
          <button mat-icon-button *ngIf="!isLoading" (click)="createSprint(projectID)" matTooltip="Add Sprint">
            <mat-icon>add_circle</mat-icon>
          </button>
        </span>
      </mat-expansion-panel-header>
      <div class="mat-panel-content">
        <mat-list>
          <ng-container *ngFor="let sprint of sprints">
            <mat-list-item class="item-detail" *ngIf="sprint.state === 'open'">
              <div>
                <h3 mat-line class="sprint-name">{{sprint.name}}</h3>
                <h3 mat-line class="sprint-name">{{sprint.body}}</h3>
              </div>
              <span class="fill-space"></span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header class="toolbar-curricula-sub">
        <mat-panel-title>
          <span class="panel-title-fix">Closed Sprints</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat-panel-content">
        <mat-list>
          <ng-container *ngFor="let sprint of sprints">
            <mat-list-item class="item-detail" *ngIf="sprint.body['finalProject'] === projectID && sprint.state === 'closed'">
              <div>
                <h3 mat-line class="sprint-name">{{sprint.name}}</h3>
                <h3 mat-line class="sprint-name">{{sprint.body | json}}</h3>
              </div>
              <span class="fill-space"></span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div>
    <h2>Total Sprints for this project: {{count(sprints)}}</h2>
  </div>
</mat-card-content>
</div>
