<div class="container-sprints">
<mat-card-content>
  <mat-accordion>
    <mat-expansion-panel expanded="true" disabled="true">
      <mat-expansion-panel-header class="toolbar-curricula-sub">
        <mat-panel-title>
          <span class="panel-title-fix">Sprints</span>
        </mat-panel-title>
         <!-- <h4>Displays a report of sprint names for each project and their descriptions</h4> -->
          
        <span>
          <!--
          <button class="mat-button">
            <a routerLink="/finalProjects" style="color:inherit;">
              <i class="material-icons" style="display: inline-block; vertical-align: middle;">fast_rewind</i>Final Projects</a>
          </button>
          -->
         
          <button mat-icon-button *ngIf="!isLoading" (click)="createSprint(projectID)" matTooltip="Add Sprint">
            <mat-icon>add_circle</mat-icon>
          </button>
        </span>
<br/>

      </mat-expansion-panel-header>
      <div class="mat-panel-content">
        <mat-list>
          <ng-container *ngFor="let sprint of sprints">
            <mat-list-item class="item-detail" *ngIf="sprint.body['finalProject'] === projectID">
              <div>
                <h3 mat-line class="sprint-name">{{sprint.name}}</h3>
                <h3 mat-line class="sprint-name">{{sprint.body | json}}</h3>
              </div>
              <span class="fill-space"></span>
              <br/>
<br/>
           <!-- <div class="panel-body">
              <br/>
             
          <table class="table table-striped table-bordered">
             
              <thead>
                  <tr>
                      <th>Sprint Name</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                      <tr>
                      <td>{{sprint.name}}</td>
                      <td>{{sprint.body}}</td>
                    </tr>
              </tbody>
          </table>
      </div> -->
            </mat-list-item>    
 
          </ng-container>
         
        </mat-list>
      </div>

     
    </mat-expansion-panel>
  </mat-accordion>
</mat-card-content>
</div>
