<div id="trainersDiv">
  <!--orange trainer title above list of trainers-->

  <mat-toolbar-row>
    <mat-toolbar class="toolbar-trainers">
      <span class="mat-expansion-panel-header-title"> Trainers </span>
      <span class="md-toolbar-spacer"> </span>
      <button mat-icon-button *ngIf="!isLoading && this.auth0.userHasRole(['SVP of Technology'])" (click)="addTrainer()" matTooltip="Add Trainer">
        <mat-icon>add_circle</mat-icon>
      </button>
      <!-- <button mat-icon-button (click)="showCalendar()" matTooltip="View PTO Calendar">
        <mat-icon>perm_contact_calendar</mat-icon>
      </button> -->

      <!--<button class="mat-icon-button" ng-click="tCtrl.googleAuth()">-->
      <!--<mat-tooltip class="mat-title"> Google Authentication </mat-tooltip>-->
      <!--<mat-icon mat-svg-icon="img/ic_perm_contact_calendar_white_24px.svg"> </mat-icon>-->
      <!--</button>-->
    </mat-toolbar>
  </mat-toolbar-row>

  <!--shows a list of all the active trainers-->
  <mat-card>
    <mat-card-content class="md-padding" *ngIf="trainers != undefined && canLoad">
      <div *ngFor="let trainer of trainers">
        <mat-list *ngIf="trainer.isActive">
          <app-trainer-item [trainer]="trainer" [routerLink]="['/profile/'+trainer.email]" [skills] = "skills"></app-trainer-item>
        </mat-list>
      </div>
    </mat-card-content>
    <!--displays a loading circle if trainers is undefined-->
    <div class="center">
      <div fxFlex="100"> &nbsp;</div>
      <mat-progress-spinner *ngIf="isLoading && trainers.length < 1" mode="indeterminate"></mat-progress-spinner>
      <h4 *ngIf="!isLoading && trainers.length < 1">No Active Trainers.</h4>
      <div fxFlex="100"> &nbsp;</div>
    </div>
  </mat-card>

  <!--toolbar for the inactive trainers-->
  <mat-toolbar-row fxLayout="column">
    <mat-toolbar class="toolbar-trainers">
      <span class="cardbody mat-expansion-panel-header-title"> Inactive Trainers </span>
      <span fxFlex> </span>
    </mat-toolbar>
  </mat-toolbar-row>

  <mat-card>
    <!--shows a list of all inactive trainers-->
    <mat-card-content class="md-padding" *ngIf="trainers != undefined && canLoad">
      <div *ngFor=" let trainer of trainers">
        <mat-list *ngIf="!trainer.isActive">
          <app-trainer-item [trainer]="trainer" [skills] = "skills" ></app-trainer-item>
        </mat-list>
      </div>
    </mat-card-content>
    <!--shows a loading circle if trainers is undefined-->
    <div class="center" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
      <div fxFlex="100"> &nbsp;</div>
      <mat-progress-spinner *ngIf="isLoading && trainers.length < 1" mode="indeterminate"></mat-progress-spinner>
      <h4 *ngIf="!isLoading && trainers.length < 1">No Inactive Trainers.</h4>
      <div fxFlex="100"> &nbsp;</div>
    </div>
  </mat-card>

</div>
