<app-batches-timeline-filter
[loading]="loading"
[startDate]="startDate"
[endDate]="endDate"
[curriculumFilter]="curriculumFilter"
[focusFilter]="focusFilter"
[locationFilter]="locationFilter"
[buildingFilter]="buildingFilter"
[hideBatchlessTrainers]="hideBatchlessTrainers"
[hideConcludedBatches]="hideConcludedBatches"
[hideInactiveTrainers]="hideInactiveTrainers"
[trainersPerPage]="trainersPerPage"
[currentPage]="currentPage"
[maxPages]="maxPages"
[curriculumFilterList] = "curriculumList"
[locationFilterList] = "locationListChild"
[buildingFilterList] = "buildingList"
 (filterChangeEmitter)="onFilterChange($event)"></app-batches-timeline-filter>
<div (window:resize)="windowResize($event)" id="full-timeline">
  <div id="trainer-names-bg" #trainernames [style.min-width.px]="minWidth">
    <span class="trainer-names" *ngFor="let trainer of getTrainers()"
      [style.margin-left.px]="trainer.left"
      [style.width.px]="trainer.width">
      {{trainer.name}}
    </span>
  </div>
  <svg id="timeline" x="0" y="0" [attr.width]="width" [attr.height]="height"
    (mousedown)="bgmousedown($event)" (mouseup)="bgmouseup($event)"
    (window:mousemove)="bgmousemove($event)" #timelineroot>
    <rect id="bg" [attr.width]="width" [attr.height]="height" x="0" y="0"
      fill="#FAFAFA"></rect>
    <g class="timescale">
      <text class="timescale-text unselectable" *ngFor="let timescale of
        getTimescale()"
        [attr.x]="timescale.x" [attr.y]="timescale.y" text-anchor="end"
        alignment-baseline="middle">{{timescale.name}}</text>
      <line id="righttimescaleline"
        [attr.x1]="timescaleXOfs" [attr.y1]="swimlaneYOfs"
        [attr.x2]="timescaleXOfs"
        [attr.y2]="height - swimlaneYOfs" stroke="#000000" stroke-width="2"></line>
    </g>
    <g class="swimlanes">
      <line *ngFor="let line of getSwimlanes()" class="swimlane"
        [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2"
        [attr.y2]="line.y2" stroke="#D3D3D3" stroke-width="1"></line>
    </g>
    <g class="batchlanes">
      <line *ngFor="let line of getBatchLanes()" class="batchlane"
        [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2"
        [attr.y2]="line.y2" stroke="#000000" stroke-width="1"></line>
    </g>
    <g class="rectangles">
      <g class="rectangle" *ngFor="let rect of getBatchesRectangles()">
        <rect [attr.x]="rect.x" [attr.y]="rect.y" [attr.height]="rect.h"
          [attr.width]="rect.w" [attr.fill]="rect.color"
          [attr.id]="rect.id"
          (mousemove)="batchmousemove($event)"></rect>
        <text class="unselectable" [attr.x]="rect.labelx" [attr.y]="rect.labely"
          font-size="14" text-anchor="start">
          <tspan *ngFor="let l of rect.label; let i= index"
            [attr.x]="rect.labelx"
            [attr.y]="rect.labely+i*15">
            {{l}}
          </tspan>
        </text>
      </g>
    </g>
    <g class="gaps" *ngIf="!swimActive">
      <g class="gap" *ngFor="let midPoint of getBreaks()">
        <text class="gapLabel unselectable" [attr.x]="midPoint.xPos"
          [attr.y]="midPoint.midDatePos" font-size="14" text-anchor="start"
          alignment-baseline="middle">
          {{midPoint.duration}}
        </text>
      </g>
    </g>
    <g id="swim" *ngIf="swimActive">
      <ellipse id="swimmer" [attr.cx]="swimPos.x" [attr.cy]="swimPos.y" [attr.rx]="swimPos.r" [attr.ry]="swimPos.r" [attr.fill]="swimPos.color"></ellipse>
      <text class="unselectable" [attr.x]="swimPos.points.x"
        [attr.y]="swimPos.points.y" text-anchor="end">Score: {{swimPoints}}</text>
      <text class="unselectable" *ngIf="swimHigh>0"
        [attr.x]="swimPos.highpoints.x" [attr.y]="swimPos.highpoints.y"
        text-anchor="end">Highest: {{swimHigh}}</text>
      <line class="gauge-bg" [attr.x1]="swimGauge.bgx1"
        [attr.y1]="swimGauge.bgy1" [attr.x2]="swimGauge.bgx2"
        [attr.y2]="swimGauge.bgy2" stroke="#767b84" [attr.stroke-width]="swimGauge.w"></line>
      <line class="gauge" [attr.x1]="swimGauge.x1" [attr.y1]="swimGauge.y1"
        [attr.x2]="swimGauge.x2" [attr.y2]="swimGauge.y2" stroke="#88a8e0"
        [attr.stroke-width]="swimGauge.w"></line>
      <g class="dots" *ngFor="let dot of swimDots">
        <ellipse class="dot"  [attr.cx]="dot.x" [attr.cy]="dot.y" [attr.rx]="dot.r" [attr.ry]="dot.r" [attr.fill]="dot.color"></ellipse>
      </g>
    </g>
    <line class="today"
      [attr.x1]="todayLine.x1" [attr.y1]="todayLine.y1"
      [attr.x2]="todayLine.x2"
      [attr.y2]="todayLine.y2" stroke="#f26a25" stroke-width="1"></line>
    <line class="zoom-line" *ngIf="zooming"
      [attr.x1]="zoomingLine.x1" [attr.y1]="zoomingLine.y1"
      [attr.x2]="zoomingLine.x2"
      [attr.y2]="zoomingLine.y2" stroke="#000000" stroke-width="1"></line>
    <g class="batch-tooltip unselectable" *ngIf="tooltipActive">
      <rect [attr.x]="tooltipRect.x" [attr.y]="tooltipRect.y"
        [attr.width]="tooltipRect.w" [attr.height]="tooltipRect.h"
        [attr.fill]="tooltipRect.color">
      </rect>
      <polygon class="tooltip-triangle" [attr.points]="tooltipRect.triangle"
        [attr.fill]="tooltipRect.color"></polygon>
      <g id="tooltip-text-group">
        <g class="tooltip-line" *ngFor="let line of tooltipData; let i= index">
          <text #tooltiptext [attr.x]="tooltipRect.x+2" [attr.y]="tooltipRect.y
            + tooltipRect.linespacing*(i+1)" font-size="14" text-anchor="start"
            alignment-baseline="hanging">
            <tspan *ngFor="let l of line" [attr.fill]="l.color">
              {{l.text}}
            </tspan>
          </text>
        </g>
      </g>
    </g>
  </svg>
</div>
