<div id="overviewDiv">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" [disabled]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="mat-expansion-panel-header-title">{{panelTitle}}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="fill-space"></span>
            <mat-icon title="Export to CSV" (click)="exportToCSV($event)">get_app</mat-icon>
  
            <mat-icon [matMenuTriggerFor]="menu" (click)="openMenu($event)">
              menu
            </mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="applyFilter(0)" [disabled]="selectedFilter === 0">
                <span>All</span>
              </button>
              <button mat-menu-item (click)="applyFilter(1)" [disabled]="selectedFilter === 1">
                <span>In Progress</span>
              </button>
              <button mat-menu-item (click)="applyFilter(2)" [disabled]="selectedFilter === 2">
                <span>Beginning within two weeks</span>
              </button>
            </mat-menu>
  
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>
  
            <!-- Name Column -->
            <ng-container matColumnDef="name" id="b-name-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-name-cell"> {{batchObj.name}}</mat-cell>
            </ng-container>
  
            <!-- Curriculum Column -->
            <ng-container matColumnDef="curriculum" id="b-curriculum-column">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Curriculum </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-curriculum-cell"> 
                  {{ findCurriculum(batchObj.curriculum)?.name }}
              </mat-cell>
            </ng-container>
  
            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer" id="b-trainer-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Trainer </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-trainer-cell">{{ findTrainer(batchObj.trainer)?.firstName }} {{ findTrainer(batchObj.trainer)?.lastName }}</mat-cell>
            </ng-container>

            <!-- CoTrainer Column-->
            <ng-container matColumnDef="cotrainer" id="b-cotrainer-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> CoTrainer </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-cotrainer-cell">{{ findTrainer(batchObj.cotrainer)?.firstName }} {{ findTrainer(batchObj.cotrainer)?.lastName }}</mat-cell>
            </ng-container>
  
            <!-- Location Column -->
            <ng-container matColumnDef="location" id="b-location-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-location-cell"> {{ findLocation(batchObj.location, batchObj.name)?.name }}</mat-cell>
            </ng-container>
  
            <!-- Building Column -->
            <ng-container matColumnDef="building" id="b-building-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Building </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-building-cell">{{ findBuilding(batchObj.building)?.buildingName }}</mat-cell>
            </ng-container>

            <!-- Room Column -->
            <ng-container matColumnDef="room" id="b-room-colum">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Room </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-room-cell">{{ findRoom(batchObj.room)?.roomName }}</mat-cell>
            </ng-container>
  
            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate" id="b-sdate-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-sdate-cell"> {{batchObj.startDate | date: 'mediumDate'}}</mat-cell>
            </ng-container>
  
            <!-- End Date Column -->
            <ng-container matColumnDef="endDate" id="b-edate-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
              <mat-cell *matCellDef="let batchObj" class="b-edate-cell"> {{batchObj.endDate | date: 'mediumDate'}}</mat-cell>
            </ng-container>
  
            <!-- Progress Bar -->
            <ng-container matColumnDef="progress" id="b-progress-column">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
              <mat-cell *matCellDef="let batchObj"> <mat-card>
                <mat-card-content>
                  <mat-progress-bar class="example-margin b-progress-cell" color="warn" mode="determinate" [value]="batchObj.progress" [bufferValue]="bufferValue">
                  </mat-progress-bar>
                </mat-card-content>
              </mat-card>
              </mat-cell>
            </ng-container>
  
            <!-- Header rows of the Display -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div class = "center">
            <div fxFlex="100"> &nbsp;</div>
            <h5 *ngIf="!isLoading && (!displayedBatchList || displayedBatchList.length < 1)">No Batches</h5>
            <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
            <div fxFlex="100"> &nbsp;</div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
