/* ---------- BATCHES STYLING ----------- */
#batchesDiv {
  margin-top: 5%;
}

/* ---------- BUTTON STYLING ----------- */
.mat-icon-button {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  color: #f26a25;
}

/* Loading spinner */
.center {
  margin: auto;
  width: 10%;
}

mat-icon,
.mat-icon,
.mat-icon-button {
  color: #f26a25;
}

#batchName {
  width: 250px;
}

.mat-column-sprintStartDate {
  margin: 10px;
}
.mat-column-sprintEndDate {
  margin: 10px;
}


.mat-column-source {
  margin: 10px;
}
