<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Room Name</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef>Room Number</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.roomNum }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myData; columns: columnsToDisplay"></mat-row>
</mat-table>