<h2 mat-dialog-tilte> Add New Unavailibility</h2>
<div mat-dialog-content>
    <p>Unavailibility description: </p>
    <mat-form-field class="update-form" style = "width: 100%">
           
        <input matInput tabIndex ="1" [(ngModel)]="data.unavailibility.description">
    </mat-form-field>
    <p>Start Date:</p>
    <mat-form-field>
        <input matInput tabIndex="2" [matDatepicker]="picker1"
        placeholder = "Choose a startDate"
        readOnly [(ngModel)] = "data.unavailibility.startDate">
        <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <p>End Date:</p>
    <mat-form-field>
        <input matInput tabIndex="3" [matDatepicker]="picker2"
        [min] = "data.unavailibility.startDate"
        placeholder = "Choose a endDate"
        readOnly [(ngModel)] = "data.unavailibility.endDate">
        <mat-datepicker-toggle matSuffix [for] = "picker2" ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

 <div matdialog-actions>
     <button mat-button [mat-dialog-close] = "data.unavailibility" tabindex = "5"> Add</button>
     <button mat-button (click) = "onNoClick()" tabindex = "-1">Cancel</button>
 </div>
</div>
