<form [formGroup]="batchFormGroup">
  <div>
    <!-- curriculum field -->
    <mat-form-field>
      <mat-select formControlName="curriculum" placeholder="Core Curriculum">
        <ng-container *ngFor="let curriculum of curricula">
          <mat-option *ngIf="curriculum.isActive && curriculum.isCore" [value]="curriculum.id">
            {{ curriculum.name }}</mat-option
          >
        </ng-container>
      </mat-select>
    </mat-form-field>
    <!-- skills field -->
    <mat-form-field>
      <mat-select formControlName="skills" placeholder="Skills" multiple [compareWith]="skillsComparator">
        <mat-option *ngFor="let skill of allSkills" [value]="skill.id">{{ skill.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        formControlName="startDate"
        matInput
        [matDatepicker]="picker1"
        placeholder="Choose a start date"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="endDate"
        matInput
        [min]="batchFormGroup.controls.startDate.value"
        [matDatepicker]="picker2"
        placeholder="Choose an end date"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="spans {{ numOfWeeksBetween }} weeks" readonly />
    </mat-form-field>

    <mat-form-field id="batchName">
      <input formControlName="name" matInput placeholder="Name" [value]="" readonly />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="trainer" placeholder="Trainer">
        <mat-option *ngFor="let trainer of trainers" [value]="trainer.id">
          {{ trainer.firstName }} {{ trainer.lastName.substr(0, 1).concat('.') }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="cotrainer" placeholder="Co-Trainer">
        <div *ngFor="let cotrainer of trainers">
          <mat-option [value]="cotrainer.id">
            {{ cotrainer.firstName }} {{ cotrainer.lastName.substr(0, 1).concat('.') }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        type="number"
        matInput
        [min]="minBatchTarget"
        [max]="maxBatchTarget"
        step="5"
        formControlName="size"
        placeholder="Target Size"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="location" placeholder="Location">
        <mat-option *ngFor="let location of locations" [value]="location.id">
          {{ location.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="building" placeholder="Building">
        <mat-option *ngFor="let building of filteredBuildings" [value]="building.id">
          {{ building.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        formControlName="room"
        placeholder="Room"
      >
        <mat-option *ngFor="let room of filteredRooms" [value]="room.id">
          {{ room.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <mat-select formControlName="finalProject" placeholder="FinalProject">
          <!-- <mat-option>None</mat-option> -->
          <mat-option *ngFor="let project of finalProjects" [value]="project.id">
            {{ project.name }}
          </mat-option>
          <!-- <mat-option value="2">
            Something Else
          </mat-option> -->
        </mat-select>
      </mat-form-field>
  </div>
  <div>
      <button type="submit" mat-raised-button [disabled]="!batchFormGroup.valid" (click)="onSubmit(batchFormGroup.value)">Submit</button>
      <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
</form>
