<mat-card class="event-form">
    <form>
    <!-- Dates -->
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    <!-- General Information -->
        <mat-form-field>
            <mat-select placeholder="Select Room">
              <mat-option value="Option 1">Option</mat-option>
              <mat-option value="Option 2">Option</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-select placeholder="Select Batch">
                  <mat-option value="Option 1">Option</mat-option>
                  <mat-option value="Option 2">Option</mat-option>
                  <mat-option value="Other">Option</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <input matInput placeholder="Other description">
        </mat-form-field>
    </form>
</mat-card>